In [1]:
import pandas as pd
import numpy as np

from utils.dataprep import load_emb_gz, make_categories, load_emb

In [2]:
# embedding_file = "data/imagenet-27x80-vgg19.test-ctg.emb.gz"
embedding_file = "data/esp-10000-vgg19.emb.gz"
# embedding_file = "data/imagenet-200x65-vgg19.train.emb.gz"
results_file = "models/200807-190731-basic.res.csv"
results_file = "models/200807-190731-basic-noctg.res.csv"
results_file = "models/200807-190731-basic-esp.res.csv"
results_file = "models/200807-200959-basic4-noctg.res.csv"
results_file = "models/200808-135631-switch4-esp.res.csv"

### Load categories

In [3]:
_, labels, _ = load_emb_gz(embedding_file)
categories = make_categories(labels)
categories

DONE. 10000 items loaded from data/esp-10000-vgg19.emb.gz.
No categories found.

In [4]:
np.unique(categories)

array([None], dtype=object)

### Load results

In [5]:
results = pd.read_csv(results_file, index_col=0)
df = results[["target_image", "chosen_symbol", "chosen_image_index", "success"]]

In [6]:
df["target_image"].max()

9994

In [82]:
df.loc[:,"category"] = df.apply(lambda x: categories[x["target_image"]], axis=1)
df

D:\ProgramData\Anaconda3\envs\jupyter-mess\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\ProgramData\Anaconda3\envs\jupyter-mess\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

      target_image  chosen_symbol  chosen_image_index  success  category
0             1302              0                   0        0        11
1             2122              2                   3        1         6
2             1207              0                   3        0        23
3             1087              0                   3        1        18
4             1996              5                   1        0        17
...            ...            ...                 ...      ...       ...
1995          1012              8                   3        0        20
1996          1414              2                   1        1         5
1997          2191              2                   3        1         6
1998           401              5                   3        1         8
1999          1972              5                   2        1        17

[2000 rows x 5 columns]

There shouldn't be any correlation between *chosen_symbol* and *image_index*:

In [7]:
pd.pivot_table(df, values="target_image", index=["chosen_symbol"], columns=["chosen_image_index"], aggfunc=np.size)

chosen_image_index    0    1    2    3
chosen_symbol
0                    86   82   75   91
1                    71  104   68   85
2                   103  114  113  108
3                     7    7    4    2
4                    87   97   89   99
5                    78   85   75   74
6                    75   84   83   87
7                   172  169  147  187
9                    52   50   39   51

In [8]:
pd.pivot_table(df, values="target_image", index=["chosen_symbol"], columns=["success"], aggfunc=np.size)

success          0    1
chosen_symbol
0               67  267
1               63  265
2              112  326
3               15    5
4              136  236
5               82  230
6              111  218
7              222  453
9               94   98