In [12]:
import pandas as pd
import numpy as np

from utils.dataprep import load_emb_gz, make_categories, load_emb

In [77]:
embedding_file = "data/imagenet-27x80-vgg19.test-ctg.emb.gz"
# embedding_file = "data/esp-10000-vgg19.emb.gz"
# embedding_file = "data/imagenet-200x65-vgg19.train.emb.gz"
results_file = "models/200807-190731-basic.res.csv"
results_file = "models/200807-190731-basic-noctg.res.csv"
results_file = "models/200807-190731-basic-esp.res.csv"
results_file = "models/200807-200959-basic4-noctg.res.csv"

### Load categories

In [78]:
_, labels, _ = load_emb_gz(embedding_file)
categories = make_categories(labels)
categories

DONE. 2193 items loaded from data/imagenet-27x80-vgg19.test-ctg.emb.gz.
27 categories found.

array([4, 4, 4, ..., 6, 6, 6], dtype=int64)

In [79]:
np.unique(categories)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26], dtype=int64)

### Load results

In [80]:
results = pd.read_csv(results_file, index_col=0)
df = results[["target_image", "chosen_symbol", "chosen_image_index", "success"]]

In [81]:
df["target_image"].max()

2191

In [82]:
df.loc[:,"category"] = df.apply(lambda x: categories[x["target_image"]], axis=1)
df

D:\ProgramData\Anaconda3\envs\jupyter-mess\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\ProgramData\Anaconda3\envs\jupyter-mess\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

      target_image  chosen_symbol  chosen_image_index  success  category
0             1302              0                   0        0        11
1             2122              2                   3        1         6
2             1207              0                   3        0        23
3             1087              0                   3        1        18
4             1996              5                   1        0        17
...            ...            ...                 ...      ...       ...
1995          1012              8                   3        0        20
1996          1414              2                   1        1         5
1997          2191              2                   3        1         6
1998           401              5                   3        1         8
1999          1972              5                   2        1        17

[2000 rows x 5 columns]

There shouldn't be any correlation between *chosen_symbol* and *image_index*:

In [83]:
pd.pivot_table(df, values="target_image", index=["chosen_symbol"], columns=["chosen_image_index"], aggfunc=np.size)

chosen_image_index    0    1    2    3
chosen_symbol
0                    92  111  134  119
2                   125  109  137  106
3                     8   11   12    7
5                   126  141  136  147
6                     1    2    2    3
7                     3    5    3    3
8                   107   94   82  108
9                    17   13   17   19

In [85]:
pd.pivot_table(df, values="target_image", index=["chosen_symbol"], columns=["success"], aggfunc=np.size)

success          0    1
chosen_symbol
0              125  331
2              135  342
3               28   10
5              146  404
6                6    2
7               10    4
8              124  267
9               36   30